*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('back.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment:fixed;
    min-height:100vh;

}
.container{
    
    margin-top: 0px;  
    width:440px;
    height: 400px;
    background: transparent;
    border: 2px solid Blue;
    border-radius: 10px;
    backdrop-filter:blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
   
    padding-bottom: 80px;
}
.input-filed{
   
    padding: 15px;
   
}
input{
    border-radius: 50px;
    background: transparent;
    padding: 12px;
    color: rgba(255, 167, 3,1);
    font-size: larger;
}
label{
    font-size: larger;
    display: inline-block;
    width: 100px;
}
#Register{
    margin-left: 150px;
    margin-top:20px;
    background: rgb(23, 23, 233);
    font-weight:bold;
    cursor: pointer;
    transition: 0.5ms;
}
#Register:hover{
    background: blue;
    color: rgb(255, 0, 0);
}